/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body{
  font-family: 'Rubik', sans-serif;
}

h1{
  font-size: larger;
  font-weight: bold;
}

header{
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
}

main{
  padding-top: 30px;
  margin: 0px 160px;
  background-color: black;
  color: white;
}

main section{
  padding:30px;
}

main section:first-of-type h1{
  font-size: 10em;
  text-align: center;
  text-transform: uppercase;
}

main section:nth-of-type(2){
  gap: 30px;
  color: black;
  background-color: white;
  display: flex;
}

.post{
  display: flex;
  gap: 10px;
  min-height: 150px;
}

.post h2{
  font-size: 1.1em;
  text-transform: uppercase;
  flex-grow: 1;
  font-weight: 600;
  margin-bottom: 7px;
}

.post__img{
  min-width: 200px;
  height: 100%;
  background-image: url('https://img.freepik.com/premium-vector/cute-robot-waving-hand-cartoon-illustration_138676-2744.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.post p{
  color: hsla(0, 0%, 100%, 0.808);
}

.blog{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "main"
  "main"
  "main"
}


.blog .post:first-child{
  grid-area: main;
  flex-flow: column;
}

.blog .post:first-child h2{
  margin: 17px 0px;
}

.blog .post:first-child .post__img{
  width: 100%;
  height: 19em;
}

.blog .post:first-child .post__description{
  display: block;
}

button{
  color: white;
  padding: 8px 35px;
  border-radius: 2px;
  width: fit-content;
  background-color: hsl(353, 96%, 40%);
  cursor: pointer;
}

input, textarea{
  border-radius: 2px;
  background-color: #a19da668;
  padding: 5px;
}


.form{
  border: 3px solid black;
  border-radius: 8px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.caPost{
  display: grid;
  justify-items: center;
  align-items: center;
  position: fixed;
  border-radius: 50%;
  box-shadow: -1px 4px 8px -3px rgba(0,0,0,0.75);
  top: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
}
.caPost img{
  width: 60%;
}

.image-placeholder{
  display: grid;
  justify-content: center;
  align-items: center;
  color: #6e6b71;
  flex-grow: 1;
  min-height: 100%;
  background-color: #a19da668;
  border-radius: 8px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}